<div class="row">
	<nav class="col-2 pad-std pad-left-l bg-primary text-primary children" style="height: 120vh">
	    <h1 style="margin-bottom: -10px">AUTOMATIC</h1>
	    <span>response system</span>
	    <br /><br />
	    <div><a routerLink="/pre-processing" routeLinkActive="active">1. Pre-processing</a></div>
	    <div><a routerLink="/pre-processing/pull-corpus" routeLinkActive="active">1.1 Pull Corpus</a></div>
	    <div><a routerLink="/pre-processing/create-index" routeLinkActive="active">1.2 Create Index</a></div>
	    <div><a routerLink="/pre-processing/train-svm" routeLinkActive="active">1.3 Train SVM</a></div>
	    <div><a routerLink="/pre-processing/eval-svm" routeLinkActive="active">1.4 Evaluate SVM</a></div>
	    <div><a routerLink="/post-processing" routeLinkActive="active">2. Post-processing</a></div>
	    <div><a routerLink="/setup" routeLinkActive="active">3. Setup</a></div>
	</nav>

	<div class="col-10 pad-std" style="height: 120vh; overflow-y: auto; overflow-x: hidden">
		<router-outlet></router-outlet>
	</div>
</div>