<ion-header>
    <ion-navbar primary>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{"vector-view.page.title" | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-list-header>{{ title }}</ion-list-header>
        <ion-card-content>
            {{ message }}
        </ion-card-content>
	</ion-card>
	<ion-card>
		<ion-list-header>Term Vectors</ion-list-header>
		<ion-card-content style="overflow: scroll">
			<term-vectors-matrix.component></term-vectors-matrix.component>
		</ion-card-content>
	</ion-card>
</ion-content>